In [1]:
from twelvedata import TDClient

# Initialize client - apikey parameter is requiered
td = TDClient(apikey="b13e5e15288443c5ba1c9e89b25f0772")

# Construct the necessary time series
ts = td.time_series(
    symbol="EUR/USD",
    interval="1day",
    outputsize=5000,
    timezone="UTC",
)

# Returns pandas.DataFrame
ts.as_pandas()

               open     high      low    close
datetime
2025-12-18  1.17449  1.17496  1.17185  1.17255
2025-12-17  1.17582  1.17631  1.17046  1.17447
2025-12-16  1.17496  1.18017  1.17363  1.17580
2025-12-15  1.17387  1.17691  1.17280  1.17496
2025-12-13  1.17410  1.17468  1.17386  1.17402
...             ...      ...      ...      ...
2006-10-17  1.25400  1.25660  1.25200  1.25450
2006-10-16  1.25050  1.25430  1.24920  1.25411
2006-10-13  1.25611  1.25789  1.24880  1.25050
2006-10-12  1.25251  1.25671  1.25189  1.25600
2006-10-11  1.25320  1.25570  1.25059  1.25240

[5000 rows x 4 columns]

In [2]:
eur_usd_forex_data = ts.as_pandas()
eur_usd_forex_data.to_csv("eur_usd_forex_data.csv")

In [1]:
import schedule
import time 

def print_message():
    print("Task executed at:", time.strftime("%H:%M:%S"))

schedule.every(5).seconds.do(print_message)

while True:
    schedule.run_pending()
    time.sleep(1)

Task executed at: 12:06:36
Task executed at: 12:06:41
Task executed at: 12:06:46

KeyboardInterrupt: